gtk*
manjaro*
kde*
kate*
plasma*
KDE/
QtProject.conf
Trolltech.conf
akregatorrc
autostart/
baloofilerc
chromium/
dconf/
dolphinrc
falkon/
gwenviewrc
htop/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kgammarc
kglobalshortcutsrc
khotkeysrc
kmixrc
knfsshare
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
lazygit/
libaccounts-glib/
matray/
neofetch/
okularpartrc
pamac/
powermanagementprofilesrc
pulse/
session/
spectaclerc
systemd/
systemsettingsrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
xsettingsd/
yakuakerc
